<!ODCTYPE html>

<html>

	        <head>

			                <title>Delete User!</title>

					        </head>

						        <h1> Removing user </h1>

							        <body>

									                <p>Enter the <strong>username</strong> of the user you would like to delete.</p>



														                       <form method="POST" action="/deleted">
					                                                                                               <p><b> username:</b> <input id="username" type = "text" name = "username" /> </p> <br>
					                                                                                              
																																							                                                                                               <input type="submit" value="Submit" />

																																																		                                                                                       </form>

																				                        <a href='/'>Home</a>

																							        </body>

</html>

