<!DOCTYPE html>

<html> 
	<head>
		<title>Home</title>
	</head>

	<h1 align="center"; style="color:blue;font-size:50px;"> Welcome! </h1>

	<body>
		<p align="center" style="color:green;font-size:40px;">Hi there! My name is<strong> Parsa! </strong> </p>
		<p align="center" style="font-size:30px;">

		<a href='/login'>Login</a>
		<a href='/about'>About</a>
		<a href='/register'>Register</a>
		<a href='/deleteuser'>Delete User</a>
		<a href='/addfood'>Add food</a>
		<a href='/list'>List food</a>
		<a href='/search'>Search</a>
		<a href='/update'>Update food</a>
		<a href='/api'>API</a>
		<a href='/logout'>Log Out</a>
		</p>
	</body>


