<!DOCTYPE html>
<html>
	<head>
		<head>
			<title>Register!</title>
			<h1 style="font-size:50px"> Register as a user down below</h1>
			<body>
				<p style="font-size:30px;">Please enter the following details to register </p>
				<form method="POST" action="/registered">
					<p><b>First Name: </b> <input id="first" type="text" name="first" /> </p> <br>
					<p><b>Last Name: </b> <input id="last" type="text" name="last"  /> </p> <br>
					<p><b>Email:</b> <input id="email" type="text" name= "email"  /> </p> <br>
					<p><b> Username:</b> <input id="username" type = "text" name = "username"  /> </p> <br>
					<p><b> Password: </b> <input id="password" type = "text" name="password"  /> </p> <br>
					<input type="submit" value="Submit" />
				</form>
				<a href='/'>Home</a>
			</body>
</html>

